﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage1.Master" AutoEventWireup="true" CodeBehind="CreateCat.aspx.cs" Inherits="FileCloud.CreateCat" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
	<div class="input-group">
		<asp:TextBox ID="TextBox1" runat="server" CssClass="form-control" placeholder="이름"></asp:TextBox>
		<asp:Button ID="Button1" runat="server" Text="만들기" CssClass="btn btn-block" OnClick="Button1_Click" />
	</div>
</asp:Content>
