﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage1.Master" AutoEventWireup="true" CodeBehind="Status.aspx.cs" Inherits="FileCloud.Status" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div id="home_welcome">
		<img src="/img/cloud-service-icon.png" width="50%"/>
	    <br />
        <br />
        <br />
        <br />
        <br />
        <strong>
        <asp:Label ID="Label1" runat="server" Font-Bold="True" Font-Size="X-Large"></asp:Label>
        <br />
        <asp:Label ID="Label2" runat="server" Font-Bold="True" Font-Size="X-Large"></asp:Label>
        <br />
        (방문자 리스트)<br />
        <asp:ListBox ID="userListBox" runat="server" Height="137px" Width="198px"></asp:ListBox>
        <br />
        <br />
        (총 업로드 된 파일 수? 용량?)</strong><br />
	</div>
</asp:Content>
