﻿#CloudContext {
	width: 100%;
	height: 100%;
}

#Dropzone {
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: rgb(83, 83, 83);
	color: white;
	text-align: center;
	z-index: 9;
}

#contents {
	width: 100%;
	height: 100%;
	margin: 0 !important;
	padding: 0;
	padding-top: 50px;
}

#icontext {
	position: fixed;
	margin: 10% auto;
	z-index: 9;
	text-align: center;
	width: 100%;
	display: none;
	opacity: 0;
	pointer-events:none;
}

.ContextMenu {
	position: absolute;
	background-color: rgb(57, 57, 57);
	color: white;
	list-style: outside none none;
	padding: 1px;
	border: 3px solid rgb(105, 105, 105);
	z-index: 3;
}

.ContextMenu .MenuItem {
	padding: 10px;
}
.ContextMenu .MenuItem:hover {
	background-color: #575757;
}