﻿@font-face {
	font-family: Default_Font;
	src: url('/font/nanum_L.woff');
}

body {
	background-color: rgb(223, 223, 223);
	font-family: Default_Font;
}

#loader {
	z-index: 1;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.70);
}

#loader img {
	margin: auto auto;
}

#contents {
	margin-top: 100px;
	margin-bottom: 100px;
}

#home_welcome {
	text-align:center;
}

div#Panel1, #Panel2 {
	margin: 8px;
}

#test {

}