﻿.input-group {
	width: 100%;
}

input.btn {
	margin-left: 20px;
	margin-right: 20px;
}

.input-group input.form-control[type=text], .input-group input.form-control[type=password] {
    margin-bottom: 20px;
}

#contents {
	text-align: center;
}


#login_form {
	margin: auto;
	width: 60%;
}